<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <property name="LoggingDir" value="logs/" />
    <property name="ROOT_LEVEL" value="INFO" />
    <timestamp key="byDate" datePattern="yyyyMMdd"/>
 
 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-25(%d{yyyy-MMM-dd HH:mm:ss} [%-10.10thread]) [%-5level] - %msg \(%logger\)%n</Pattern>
        </layout>
    </appender>
 
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LoggingDir}app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LoggingDir}history/app.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-30(%d{yyyy-MMM-dd HH:mm:ss.SSS} [%thread]) [%-5level] %marker - %msg \(%logger\)%n</pattern>
        </encoder>
    </appender>
 
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>
 
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>
 
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG" />
 
    <logger name="org.eclipse.jetty" level="INFO" />

    <logger name="org.apache.cxf" level="INFO" />
    
    <logger name="org.apache.camel" level="INFO" />
    <logger name="org.apache.camel.component.mybatis" level="TRACE" />
    <logger name="org.apache.camel.component.cxf" level="TRACE" />

    <logger name="com.buildria.camel" level="DEBUG" />
   
    <root level="${ROOT_LEVEL}">
        <appender-ref ref="ASYNC_STDOUT"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>

</configuration>